#header{
    -fx-background-color: #94c4f1ff;
    -fx-border-color: #03256c;
    -fx-border-width: 0px 0px 10px 0px;
    -fx-pref-height: 120px;
    -fx-padding: 5px;
    -fx-alignment: CENTER-LEFT;
    -fx-spacing: 10px;
}

#goBack{
    -fx-fit-to-height: 110px;
}

#title{
    -fx-font-family: "Sitka Heading";
    -fx-font-size: 45;
    -fx-font-style: normal;
    -fx-fill: #03256c;
}
