#header{
    -fx-background-color: #f0f2f5;
    -fx-border-color: #03256c;
    -fx-border-width: 0px 0px 5px 0px;
    -fx-min-height: 65px;
    -fx-max-height: 65px;
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

#subHeader{
    -fx-alignment: CENTER-LEFT;
    -fx-spacing: 10px;
    -fx-pref-height: 50px;
}

#languageSelect{
    -fx-pref-width: 150;
    -fx-max-width: 150;
}

#goBack{
    -fx-fit-to-height: 50px;
}

#title{
    -fx-font-family: "Sitka Heading";
    -fx-font-size: 30;
    -fx-font-style: normal;
    -fx-fill: #03256c;

}
