.tab-pane {
    -fx-background-color: transparent;
    -fx-tab-min-width: 145px;
}

.tab-header-area {
    -fx-background-color: #e6e6e6;
}

.tab-header-background {
    -fx-opacity: 0;
    -fx-background-color: transparent;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #03256C;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-tab-min-width: 145px;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-background-color: #F0C808;
    -fx-text-fill: #000000;
}