.tree-table-view{
    -fx-tree-table-color: #8adaff;
    -fx-tree-table-rippler-color : rgba(0, 50, 100, 0.9);
}
.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: #8adaff ;
}
.tree-table-view .jfx-rippler {
    -fx-rippler-fill: white;
}
.tree-table-view .column-header .label {
    -fx-text-fill : white;
    -fx-padding : 16 0 16 0 ;
}
.tree-table-view .column-header-background{
    -fx-background-color: #1C77C3;
}
.tree-table-view .scroll-bar {
    -fx-background-color: #1C77C3;
}
.tree-table-view .scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb,
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow{
    -fx-background-color: #d1d1d1;
}



