.tree-cell .selection-bar{
    -fx-background-color: #F0C808;
}

.tree-cell{
    -fx-background-color: #e6e6e6;
}

.tree-cell:selected{
    -fx-background-color: #03256c;
    -fx-text-fill: #ffffff;
    -fx-border-color: TRANSPARENT;
    -fx-outline: none;
}

.tree-view .scroll-bar:horizontal,
.scroll-bar:vertical{
    -fx-background-color: #03256c;
}


.tree-view .scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb,
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow{
    -fx-background-color: #d1d1d1;
}

.tree-view{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.tree-view:focused{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}